<?xml version="1.0"?>
<!--
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    Bss_CreateMenuBackend
 * @author     Extension Team
 * @copyright  Copyright (c) 2017-2018 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
    	<add id="Digitaria_RunCode::menu"
    		 title="Agência Digitaria" module="Digitaria_RunCode"
    		 sortOrder="10"
    		 resource="Magento_Backend::content"
    		/>
    	<!-- START: new node -->  
    	<add id="Digitaria_RunCode::menu_item"
    		 title="Atualizar Peças" module="Digitaria_RunCode"
    		 sortOrder="10" parent="Digitaria_RunCode::menu"
    		 action="runcode/create/index"
    		 resource="Digitaria_RunCode::menu_item"
    		/>
    	<!-- END:   new node --> 
    </menu>
</config>
