<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Magento\BoletoItau\Api\ViaBoletoManagementInterface" type="Magento\BoletoItau\Model\ViaBoletoManagement"/>
</config>
