<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <default>
        <rdmarketing>
            <client_id>CLIENT_ID</client_id>
            <client_secret>CLIENT_SECRET</client_secret>
            <code>CODE</code>
        </rdmarketing>
    </default>
</config>
