
<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="label"><span data-bind="text: getTitle()"></span></label>
    </div>
    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <form class="form" id ="mestremagebl-form" method="post">
            <div class="field name required">
                <label data-bind="attr: {for: getCode() + '_cpf'}" class="label">
                    <span><!-- ko i18n: 'CPF'--><!-- /ko --></span>
                </label>
                <div class="control">
                    <input type="text"  maxlength="14" placeholder="CPF" name="mestremagebl_cpf" class="input-text"  value=""
                           data-bind="attr: {
												autocomplete: off,
												id: getCode() + '_cpf',
												title: $t('Card Holder Name'),
												'data-container': getCode() + '-cpf',
												'data-validate': JSON.stringify({'required':true})}
												textInput : keyword, event: {keyup: mascarJsr}
												"/>
                </div>
            </div>
            <div class="actions-toolbar">
                <div class="primary">
                    <button class="action primary checkout"
                            type="submit"
                            data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place Order')},
                        css: {disabled: !isPlaceOrderActionAllowed()},
                        enable: (getCode() == isChecked())
                        "
                            disabled>
                        <span data-bind="i18n: 'Place Order'"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
        