<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="digitaria" translate="label" sortOrder="10">
            <label>Agência Digitaria</label>
        </tab>
        <section id="shippinghide" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Faixas de CEP Frete Grátis</label>
            <tab>digitaria</tab>
            <resource>Digitaria_ShippingHide::shippinghide_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Geral</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Ativar Módulo</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
				 <field id="zip_ranges" translate="label" type="textarea" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Faixas de CEP</label>
                    <comment><![CDATA[
            Insira as faixas de CEP separadas por vírgulas e uma faixa por linha.<br>
            Exemplo:<br> 01000000,19999999<br>02000000,29999999<br>
            Para consultar faixas de CEP do Brasil, <a href="https://buscacepinter.correios.com.br/app/faixa_cep_uf_localidade/index.php" target="_blank">clique aqui</a>.
        ]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>
