<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<payment>
			<itaushopline>
				<active>1</active>
				<payment_action>authorize</payment_action>
				<model>MestreMage\ItauShopline\Model\Payment\Itaushopline</model>
				<order_status>pending</order_status>
				<title><![CDATA[Itau Shopline - Boleto]]></title>
				<bank_slip_noteline1><![CDATA[Sr. Caixa,]]></bank_slip_noteline1>
				<bank_slip_noteline2><![CDATA[Não receber após o vencimento.]]></bank_slip_noteline2>
				<bank_slip_noteline3><![CDATA[Obrigado.]]></bank_slip_noteline3>
				<css_box_sucess_page><![CDATA[
		.btn-payment-itau {
            background-color: #011f7c;
            color: #faf73d;
            border-radius: 5px;
            padding: 14px 23px;
            margin-bottom: 5px;
            border: none;
            font-size: 15px;
            box-shadow: 1px 3px 5px 2px #ec6808;
        }
        .box-payment-iatu {
            background-color: #ff6b00;
            padding: 20px;
            border-radius: 12px;
            color: #fff;
            font-weight: bold;
            box-shadow: 1px 3px 5px 2px #a59e9e;
        }]]></css_box_sucess_page>
				<days_due_date>3</days_due_date>
				<days_duplicate>6</days_duplicate>
				<per_day_interest>3</per_day_interest>
				<allowspecific>0</allowspecific>
			</itaushopline>
		</payment>
	</default>
</config>
